<div>
    Username: <input type="text" size="20" name="username" [(ngModel)]="username"><br>
    Password: <input type="password" size="20" name="password" [(ngModel)]="password"><br>
    <button (click)="login(username,password)">Login</button> <button (click)="logout()">Logout</button><br>
</div>
{{user | json}}
<hr>
<div>
	<select [(ngModel)]="httpRequestParams.method">
		<option *ngFor="let key of methodsKeys" [value]="key" >{{methods[key]}}</option>
	</select><br>
	{{baseURL}}<input [(ngModel)]="httpRequestParams.path" type="text" size="40"><br>
	<textarea rows="10" cols="80" [(ngModel)]="httpRequestParams.body"></textarea><br>
	<button (click)="submit()">Submit</button>
</div>
<hr>
{{res}}<br>
<span *ngIf="res">
  Headers: {{res.headers.values()}}<br> 
  Text: {{res.text()}}<br>
</span>
<span *ngIf="error">Error: {{error}}</span>